
*{
    font-family:monospace;
    color:#505A5B
}

#message{
    width:25vw;
    height:15vw;
}

.page{
    background-image: url(images/background.jpg);
    background-color:#86baa175;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.link-bar{
    height:3vh;
    min-height:35px;
    width:100vw;
    background:hsla(133, 61%, 77%, 0.527);
    text-align: center;
    font-size:30px;
    color:#505A5B;
}

.title-bar{
    height:3vh;
    min-height: 30px;
    width: 100vw;
    text-align: center;
    background: hsla(133, 61%, 77%, 0.527);
    padding-top: 2px;
}

.social-bar{
    background: hsla(133, 61%, 77%, 0.527);
    text-align: center;
    font-size: 20px;
    height:25px;
    margin-top:10px;
    margin-bottom:10px;
    width: 100vw;

}

.about-me-grid{
    display:grid;

}

.section-title{
    text-align: center;
    font-size: xx-large;
}

.about-me-list{
    font-size: xx-large;
}

.list-item{
    font-size:x-large;
}

.container-projects{
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;
    background: hsla(133, 61%, 77%, 0.527);
}

.container-projects div{
    border:1px #505A5B solid;
    height:30vw;
    width:30vw;
    padding:10px;
    height:auto;
    align-content: center;
    text-align: center;
}

.grid{
    display:grid;
    grid-template-columns: 1fr 2fr;
    background:hsla(133, 61%, 77%, 0.527);
    
}

.grid-box{
    font-size: 3vh;
    padding:10px;
}

.table{
    background: hsla(133, 61%, 77%, 0.527);
    width:100vw;
}

.table-heading{
    font-size:large;
}

.table-text{
    font-size:medium;
}

.footer{
    background: hsla(133, 61%, 77%, 0.527);
    margin-top:10px;
}


fieldset{
    background: hsla(133, 61%, 77%, 0.527);
}

legend{
    color:rgb(255, 255, 255);
    font-weight: 500;
}

p{
    font-size: large;
}

img{
    max-width: 30vw;
    height: auto;
}

@media screen and (max-width: 800px){
    .link-bar{
        text-align: center;
        align-self: center;
        
    }
    .container-projects{
        flex-direction: column;
        flex-wrap:wrap;
    }
    
}

@media screen and (min-width: 801px) and (max-width: 1037px){
    .link-bar{
        text-align: center;
        align-self:center;
        background: hsla(133, 61%, 77%, 0.527);
        
    }
    .container-projects{
        flex-direction: column;
    }
    img{
        max-width: 90;
    }
    .container-projects div{
        height:auto;
        width: auto;
    }
}

@media  screen and (min-width: 1038px) {
    .link-bar{
        text-align: center;
        width:100vw;
    }
    
}