
*{
    font-family:monospace;
    color:#505A5B
}

.page{
    background-image: url(images/background.jpg);
    background-color:#86baa175;
    background-size: cover;
    background-attachment: fixed;
}

.link-bar{
    height:5vh;
    width:100vw;
    background:hsla(133, 61%, 77%, 0.527);
    text-align: center;
    font-size: 3vh;
    color:#505A5B;
}

.title-bar{
    height:3vh;
    width: 100vw;
    text-align: center;
    background: hsla(133, 61%, 77%, 0.527);
    padding-top: 2px;
}

.about-me-grid{
    display:grid;

}

.container-projects{
    display:flex;
    justify-content:space-around;
    background: hsla(133, 61%, 77%, 0.527);
}

.container-projects div{
    border:1px #505A5B solid;
    padding:10px;
    height:55vh;
    align-content: center;
    text-align: center;
}

.grid{
    display:grid;
    grid-template-columns: 1fr 2fr;
    background:hsla(133, 61%, 77%, 0.527);
    
}

.grid-box{
    font-size: 3vh;
    padding:10px;
}

.footer{
    background: hsla(133, 61%, 77%, 0.527);
}

p{
    font-size: large;
}

img{
    max-width: 33vw;
    height: auto;
}

@media screen and (max-width: 800px){
    .link-bar{
        text-align: center;
        align-self: center;
        
    }
    .container-projects{
        flex-direction: column;
    }
    
}

@media screen and (min-width: 801px) and (max-width: 1037px){
    .link-bar{
        text-align: center;
        align-self:center;
        background: hsla(133, 61%, 77%, 0.527);
        
    }
    .container-projects{
        flex-direction: column;
    }
    img{
        max-width: 100;
    }
    .container-projects div{
        height:auto;
        width: auto;
    }
}

@media  screen and (min-width: 1038px) {
    .link-bar{
        text-align: center;
        width:100vw;
    }
    
}